@media screen and ( max-width:1270px )
  html
    font-size: 12px
  .header
    &__select
      margin-left: 15px
  .contacts
    &__phone
    font-size: 16px
  .training
    &-title
      &__text
        margin-right: 30px
@media screen and ( max-width:1190px )
  .header
    &__select
      display: none
  .contacts
    &__phone
      font-size: 16px
      margin-right: 0
  .wrap
    display: flex
    justify-content: space-around
    flex-wrap: wrap
  .row
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: top
  .col
    &-30
      flex: 1 1 calc(50% - 30px)
      max-width: calc(50% - 30px)
      padding: 0 15px
  .groups
    &__row
      margin-top: 0
      justify-content: flex-start
    &__col
      &-30
        margin-right: 0
  .card
    &__groups
      margin-bottom: 29px
    &__training
      &-description
        max-width: 230px
        margin-bottom: 40px
  .training
    &-title
      &__text
        margin-right: 30px
@media screen and ( max-width:992px )
  .header
    &__title
      font-size: 58px
  .contacts
    &__button
      display: none
  .training
    &-title
      &__heading
        font-size: 25px
  .groups
    &__row
      margin-top: 0
      justify-content: space-between
    &__col
      &-30
        margin-right: 0
  .nav
    &__item
      margin-right: 26px
      &-border
        &::after
          display: none
  .row
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: top
  .col
    &-30
      flex: 1 1 calc(100% - 30px)
      max-width: calc(100% - 30px)
      padding: 0 15px
  .card
    &__groups
      width: 100%
      max-width: 362px
      margin: auto
      margin-bottom: 29px
@media screen and ( max-width:760px )
  .header
    &__title
      font-size: 42px
      &-description
        font-size: 26px
    &__input
      margin-bottom: 15px
    &__form
      max-width: 530px
      margin: auto
  .nav
    display: none
  .training
    &-title
      &__heading
        font-size: 18px
  .row
    justify-content: center
@media screen and (max-width: 570px )
  .header
    &__title
      font-size: 28px
      &-description
        font-size: 18px
    &__social
      margin-top: 40px
  .form
    &__button
      font-size: 13px
  .training
    &__video
      &-title
        width: 100%
        margin: auto
        margin-bottom: 30px
    &-title
      &__heading
        font-size: 18px
    &__title
      &-heading
        font-size: 53px
        text-align: center
      &-description
        font-size: 16px
    &__heading
      &-text
        font-size: 38px
        text-align: center
  .row
    justify-content: center
  .card
    &__groups
      margin-right: 0px
@media screen and ( max-width:375px )
  .header
    &__input
      padding-right: 100px
    &__title
      font-size: 25px
  .social
    &__text
      font-size: 14px
  .training
    &__title
      &-heading
        font-size: 43px
      &-description
        font-size: 14px
    &__heading
      &-text
        font-size: 28px
  .card
    &__groups
      margin-left: 0px
      &-title
        font-size: 24px
      &-description
        max-width: 200px
        font-size: 14px
  
  
  
  

  