@media screen and ( max-width:1270px )
  html
    font-size: 12px
  .header
    &__select
      margin-left: 15px
  .contacts
    &__phone
    font-size: 16px
@media screen and ( max-width:1190px )
  .header
    &__select
      display: none
  .contacts
    &__phone
      font-size: 16px
      margin-right: 0
@media screen and ( max-width:992px )
  .header
    &__title
      font-size: 62px
  .contacts
    &__button
      display: none
  .nav
    &__item
      margin-right: 26px
      &-border
        &::after
          display: none
@media screen and ( max-width:760px )
  .header
    &__title
      font-size: 42px
      &-description
        font-size: 26px
    &__input
      margin-bottom: 15px
    &__form
      max-width: 530px
      margin: auto
  .nav
    display: none
@media screen and (max-width: 570px )
  .header
    &__title
      font-size: 32px
      &-description
        font-size: 18px
  .form
    &__button
      font-size: 13px
@media screen and ( max-width:375px )
  .header
    &__input
      padding-right: 100px
    &__title
      font-size: 25px
  .social
    &__text
      font-size: 14px
  
  
  
  

  