*, *:before, *:after
  box-sizing: border-box
*, *:before, *:after *:active *:focus *:hover
  box-sizing: border-box
  outline: 0
  outline-offset: 0
html
  font-size: 14px
body
  box-sizing: border-box
  font-family: 'Roboto Regular', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding-top: 55px